<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/editResource}" th:object="${resourceDto}"  method="post">
    <div style="width: 500px; height: 400px;">
        <textarea th:type="text" id="resourceText" name="resourceText" style="width: 100%; height: 100%;">
            <div th:object="${resource}">
                <span th:text="${resource.text}"></span>
            </div>
        </textarea>
    </div>
    <br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>